/.idea/*
/local/vendor/
/local/modules/*
!/local/modules/ql.lib/
/bitrix/*
!/bitrix/php_interface/
/bitrix/php_interface/include/sale_delivery/
/bitrix/php_interface/include/sale_payment/
!/bitrix/templates/
!/bitrix/components/
/bitrix/components/*
!/bitrix/components/ql/
!/bitrix/modules/
/bitrix/modules/*
!/bitrix/modules/ql.lib/
!/bitrix/modules/ql.sitemap/
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
/bitrix/.settings_extra.php
/upload/*
!/upload/include/
!/upload/images/
/cgi-bin/
sitemap*.xml
restore.php
*.log
*.sql
*.txt
*.dt
*.swp
*.swo
*.csv
*.DS_Store
/**/*.DS_Store
Thumbs.db
.tar.*
bx_1c_import.php
test*
!/test.php
/.htaccess
/*.xml
.htaccess
/log/
yandex*.html
google*.html
.access.php
web.config
.ssh/
git_pull.php
/.well-known/
files/*
urlrewrite.php
sitemap.php
.htsecure
500.html
composer.lock
/node_modules/
node_modules/
bitrix/templates/main_new/include/
local/include/seo/
bitrix/templates/landing/include/
local/templates/adept/include/seo/
!/bitrix/modules/ql.lib/install/db/*.sql
!/bitrix/modules/ql.sitemap/install/db/*.sql
/test/
/test/*