@font-face {
    font-family: "MuseoSansCyrl";
    src: url('fonts/MuseoSansCyrl-500.eot'),
         url('fonts/MuseoSansCyrl-500.woff') format('woff'),
         url('fonts/MuseoSansCyrl-500.ttf') format('truetype');  
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PTSerif";
    src: url('fonts/PTSerifBold.woff2') format('woff2'),
         url('fonts/PTSerifBold.woff') format('woff'),
         url('fonts/PTSerifBold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url('fonts/MuseoSansCyrl-700.eot'),
         url('fonts/MuseoSansCyrl-700.woff') format('woff'),
         url('fonts/MuseoSansCyrl-700.ttf') format('truetype');  
    font-weight: 700;
    font-style: normal;
}