* {
    font-family: 'MuseoSansCyrl', sans-serif;
    font-style: normal;
    font-weight: 500;
	margin: 0;
    padding: 0;
}

body{
    max-width: 1366px;
    min-width: 375px;
    background: url(img/fon.jpg) no-repeat;
    background-size: cover;
}

.wrapper {
    margin: auto;
    width: 90%;
}

.header{
    display: flex;
    justify-content: space-between;
}

.vector__img{
    padding: 40% 0;
    margin-right: 63%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item{
    padding: 0 13px;
    font-family: 'Museo Sans Cyrl';
    font-size: 22px;
    line-height: 56px;
    text-decoration: none;
    color: #F8EEE4;
}

.main__section {
    display: flex;
    justify-content: space-between;
}

.about__bali {
    background: url(img/Bali.jpg) no-repeat;
    background-size: cover;
}

.about__indonesia {
    background: url(img/Indonesia.jpg) no-repeat;
}